.header {
    text-align: center;
}

.grid {
    background-color: lightskyblue;
    width: 700px;
    height: 500px;
    justify-content: center;
    border: cadetblue 1px solid;
    margin: auto;
    padding: 10px
}

.row {
    align-self: center;
}

.col {
    background-color: white;
    border: solid 1px lightslategrey;
    width: 90px;
    height: 80px;
    border-radius: 50%;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#reset {
    font-size: 200%;
}