
.welcome {
    display: flex;
    justify-content: center;
}

.header {
    flex-wrap: wrap;
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

.col {
    border: solid lightgray 1px;
    color: transparent;
    border-radius: 50px
}

.button {
    display: flex;
    justify-content: center;
}

#reset-button {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
}